/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/
h1, h2, h3, h4, h5, h6{
	font-family: 'Arbutus Slab', Georgia, "Times New Roman", Times, serif;
}
h2{
	font-size:24px;
}
body{
	background:#605a95;
}
a{
	color:#7E79AF;
}

.cleaner {clear: both; line-height: 0px; font-size: 0px;}
.clearfix:before,.clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}
.photoframe{
	border:4px solid #fff;
	border-radius:4px;
	box-shadow:0px 0px 5px 0px #000;
}
.no-pad{
	padding:0px;
}
.content{
	background: url(../images/home-bg2.png) no-repeat center top content-box;
}
.masthead{
	background: url(../images/masthead-bg.png) repeat-x;
	height: 154px;
}
a.logo {width: 16.424%; min-width: 120px; max-width: 158px; position: absolute; top: 0; left: 15px;}
a.logo img {width: 100%;}
.registered {position: absolute; top: 125px; right: 0; width: 100%; min-width: 170px!important; max-width: 240px; color:#fff; padding: 0 0 0 15px;}

.skinny{
	
}
.ranch{
	padding:100px 0 20px 0;
}
.menu{
	box-shadow:0px 0px 6px 1px #ccc;
}
.nav-bar {width: 100%; height: auto; min-height: 48px; text-align: center; border: 2px solid #514c83; background: #4F4A81 url(../images/nav-bg.png) 0 0 repeat-x; margin-top: 0px; margin-bottom:0px;}
.nav-bar > li {line-height: 44px; border: none; box-shadow: 0px 0px;}
.nav-bar > li > a:first-child {padding: 0 19px; color:#fff;}
.nav-bar > li:last-child {border:0px; box-shadow:0px 0px;}
.nav-bar > li:hover {background: #8881c2; box-shadow:0px 0px 8px 0px #000 inset;}

@media (min-width: 320px) {.nav-bar > li {display: inline!important; float: left!important;}}
@media (min-width: 768px) and (max-width: 940px) {.nav-bar > li a {font-size: 13px!important; padding: 0 12px!important;}}
@media (min-width: 600px) and (max-width: 768px) {.nav-bar > li a {font-size: 13px!important; padding: 0 8px!important;}}

.orbit {margin-bottom:0px;}
.orbit-wrapper .slider-nav span { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: opacity 400ms; -moz-transition: opacity 400ms; -o-transition: opacity 400ms; transition: opacity 400ms; }
.orbit-wrapper:hover .slider-nav span { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
#featured { background: url(spinner.gif) center center #f4f4f4; height: 300px; }
#featured img { display: none; }

#featured.orbit { background: none; }
#featured.orbit img { display: block; }
#featured.stallion img { max-height:500px;}
ul.orbit-bullets {
	bottom: -100px;
	left:45%;
}
.button .small{
	line-height: 10px;
}
.fancybox{
	clear:both;
}
.fancybox img{
	height:100px !important;
	border:2px solid #fff;
	border-radius:2px;
	box-shadow:0px 0px 2px 0px #000;
	margin-bottom:10px;
	margin-right:10px;
}
.showtime .fancybox img{
	height:195px !important;
}
.showtime{
	text-align:justify;
}
.smlink{
	width:100%;
	border-top:1px dashed #333;
	text-align:right;
	margin:10px 0;
	padding:10px 0;
}
.newsitem{
	padding:10px 0;
	margin:10px 0
}
.newsitem span{
	font-style:italic;
	display:block;
	font-size:.9em;
}
footer{
	background-color:#1d1d1d;
	padding-bottom:30px;
}
footer a{
	margin-right:10px;
	font-size:12px;
}
.link-list a:after{
	content:"\2022";
	margin-left:10px;
}

footer p{
	color:#fff;
	font-size:10px;
	margin-top:20px;
	float:right;
}
ul.link-list {
	margin: 20px 0 0 0;
}
ul.link-list > li {
	margin: 0;
}
@media (max-width: 480px) {ul.link-list > li {margin: 0 0 15px 0;}}
.photoleft{
	border:4px solid #fff;
	border-radius:4px;
	box-shadow:0px 0px 5px 0px #000;
	margin-right:10px;
	float:left;
}
.photoright{
	border:4px solid #fff;
	border-radius:4px;
	box-shadow:0px 0px 5px 0px #000;
	margin:20px;
	float:right;
}
.subpage{
	background:#fff;
	padding-top:20px;
	min-height: 400px;
}
.button{
	margin-top:10px;
}
.subhead h1{
	background:#2c2c30;
	color:#fff;
	font-size:28px;
	text-shadow:1px 1px #777;
	text-transform:uppercase;
	padding:20px;
	margin:0px;
}
.sire{
	background-color:#c2bfd8;
}
.dam{
	background-color:#aba8bf;
}
.pedigree{
	border:0;
}
.pedigree td{
	text-align:center;
    vertical-align:middle;
}
.center {
	text-align:center;
}